.DS_Store
.idea
*.log
tmp/
.ccls-cache/
.pre-commit-config.yaml
CMakeCache.txt
CMakeFiles/
CPackConfig.cmake
CPackSourceConfig.cmake
CTestTestfile.cmake
DartConfiguration.tcl
Makefile
cmake_install.cmake
compile_commands.json
main
